/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Antic Didone', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, serif;
}

/* Body styles */
body {
  background-color: rgba(2, 56, 26, 0.24);
}

/* App container styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 32px;
}

/* Header styles */
header, .header {
  background-image: url("../src/assets/header.jpg");
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #023020;
  padding: 32px 0;
  font-size: 24px;
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the header is on top of other content */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Align items to the left and right */
  background-color: transparent; /* Remove background color */
  align-items: center; /* Center vertically */
}

.navbar-brand {
  margin-right: auto; /* Push the brand/logo to the left */
}

.nav-item {
  margin-left: 20px; /* Add margin between navigation items */
  list-style: none; /* Remove bullet points */
}

.nav-item a {
  text-decoration: none; /* Remove underline */
  color: #023020; /* Set text color */
}

.nav-item a:hover {
  text-decoration: none; /* Remove underline on hover */
  color: #ccc; /* Set text color on hover */
}

/* Main content styles */
h1 {
  margin: 32px 0;
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* About Me section styles */
.about-me {
  text-align: center;
  color: #023020;
}

.headshot {
  max-width: 30%; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
}

/* Position the background image behind the headshot */
.headshot-container {
  max-width: 50%;
  height: 50%;
  background-image: url("../src/assets/headshotbackground.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Add padding and adjust the z-index to ensure the headshot is on top */
.headshot-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Adjust the z-index as needed */
}

/* Form styles */
.form-group {
  margin-bottom: 32px;
}

.contact {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #023020;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.contact::placeholder {
  color: #e2e2e2;
}

button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #023020;
  color: #fff;
  text-transform: capitalize;
}

.contact {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* Card styles */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  background-color: #fff; /* Set a background color for the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for the card */
}

.logo {
  display: flex;
  align-items: flex-start;
  font-size: 24px;
  cursor: pointer;
  color: #023020;
}

/* Media queries for responsiveness */

/* Adjust styles for screens with a maximum width of 768px (mobile devices) */
@media (max-width: 768px) {
  /* Update styles for smaller screens */
  .App {
    padding: 10px;
  }

  header {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .card-title {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }
}
